.containerSetting {
  display:grid;
  grid-template-rows: 4.6875rem auto 15.9375rem;
  position: relative;
}

.navigationItems {
  position: sticky;
  top: 0;
  z-index: 10; /* 确保导航栏在顶部 */
}

.mainContent {
  background-color: brown;
}

.Footeritems {
  background-color: coral;
  text-align: center;
}