#homepage_main_content {
    margin:0 auto;
    padding:0;
    background-color:salmon;
    width: 83%;
    display: grid;
    flex-direction: column;
    grid-template-rows: 25rem 43.75rem repeat(5, 22.5rem);
}

#website_intro{
    margin: 0 3.3125rem;
    background-color: aquamarine;
}

#knowledge_conclusion_intro{
    background-color: bisque;
}

#resume_produce_intro{
    background-color: cadetblue;
}

#app_develop_intro{
    background-color: chocolate;
}

#chat_section_intro{
    background-color: rgb(255, 140, 0);
}

#travel_album_intro{
    background-color: deepskyblue;
}